* {
  margin: 0px;
  padding: 0px;
}

body .navbar {
  background-color: #263B5C !important;
}
body .navbar .collapse ul li a {
  color: white !important;
}
body .navbar .collapse ul li a:hover {
  color: aquamarine !important;
}
body .navbar .navbar-text {
  color: white !important;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .navbar .navbar-text .button {
  cursor: pointer;
  width: 230px;
  height: 60px;
  background-color: #EF664B;
  color: white;
  font-size: 14px;
  border: 1px solid black;
}
body .navbar .navbar-text .button:hover {
  background-color: transparent !important;
  border: 1px solid white !important;
}
body .section1 {
  width: 100%;
  height: 800px;
  background-position: center;
}
body .section1 .lorem {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  gap: 20px;
}
body .section1 .lorem h1 {
  font-size: 50px;
}
body .section1 .lorem p {
  font-size: 30px;
}
body .section1 .lorem h1, body .section1 .lorem p {
  color: white;
}
body .section1 .button1 {
  width: 190px;
  height: 60px;
  background-color: rgb(83, 236, 185);
  color: white;
  font-size: 14px;
  border: 1px solid black;
  align-self: flex-start;
  margin-left: 28px;
}
body .section1 .button1:hover {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}
body .section2 {
  display: flex;
  width: 100%;
  background-color: #FCF2EB;
  height: 600px;
  justify-content: space-around;
  align-items: center;
}
body .section2 .img {
  width: 50%;
  height: 75%;
}
body .section2 .yazilar {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
body .section2 .yazilar .yazi1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
body .section2 .yazilar .yazi1 .up {
  color: aquamarine;
  font-size: 18px;
}
body .section2 .yazilar .yazi1 .donate {
  color: #263B5C;
  font-size: 45px;
  margin-top: -10px;
}
body .section2 .yazilar .yazi1 .when {
  color: gray;
  font-size: 18px;
}
body .section2 .yazilar .buttonlar {
  display: flex;
  gap: 10px;
}
body .section2 .yazilar .buttonlar .button2 {
  cursor: pointer;
  width: 180px;
  height: 65px;
  background-color: #EF664B;
  color: white;
  border: none;
  font-size: 14px;
}
body .section2 .yazilar .buttonlar .button2:hover {
  background-color: transparent !important;
  border: 2px solid #EF664B !important;
  color: #EF664B;
}
@media only screen and (max-width: 450px) {
  body .section1 {
    height: 400px !important;
    width: 100%;
    background-size: cover;
    overflow: hidden;
  }
  body .lorem {
    width: 98%;
    gap: 5px;
    margin-left: 5px !important;
  }
  body .lorem p {
    font-size: 15px !important;
  }
  body .lorem h1 {
    font-size: 30px !important;
  }
  body .img {
    width: 98% !important;
    height: 50%;
  }
  body .yazilar {
    width: 100% !important;
    justify-content: flex-start;
  }
  body .yazi1 {
    width: 98%;
  }
  body .up {
    font-size: 10px;
  }
  body .donate {
    font-size: 17px !important;
  }
  body .when {
    font-size: 15px;
  }
  body .buttonlar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    justify-content: flex-start;
    margin-top: -30px;
  }
  body .button2 {
    height: 50px;
  }
  body .section2 {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 730px !important;
  }
}
@media only screen and (max-width: 600px) {
  body .section1 {
    height: 450px !important;
    width: 100%;
    background-size: cover;
  }
  body .lorem {
    width: 95% !important;
    gap: 10px;
    margin-left: 20px !important;
  }
  body .lorem p {
    font-size: 20px !important;
  }
  body .lorem h1 {
    font-size: 30px !important;
  }
  body .section2 {
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  body .img {
    width: 90% !important;
    height: 90% !important;
    margin-top: 80px !important;
  }
  body .yazilar {
    width: 100% !important;
    height: 49%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body .up {
    font-size: 13px;
  }
  body .donate {
    font-size: 20px;
  }
  body .when {
    font-size: 17px;
  }
}
@media only screen and (max-width: 777px) {
  body .section1 {
    height: 600px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
  }
  body .lorem {
    width: 75%;
    gap: 10px;
    margin-left: 15px !important;
  }
  body .lorem p {
    font-size: 25px;
    overflow: hidden;
  }
  body .lorem h1 {
    font-size: 37px;
    overflow: hidden;
  }
  body .section2 {
    height: 990px;
    width: 100%;
    flex-direction: column;
  }
  body .img {
    width: 80%;
    height: 50%;
    margin-top: 50px;
  }
  body .yazilar {
    width: 85%;
  }
}
@media only screen and (max-width: 991px) {
  body .section1 {
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
  }
  body .lorem {
    width: 65%;
  }
  body .lorem p {
    font-size: 30px;
  }
  body .lorem h1 {
    font-size: 40px;
  }
  body .section2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }
  body .button2 {
    width: 110px !important;
  }
}
@media only screen and (min-width: 992px) {
  body .section1 {
    width: 100%;
    height: 800px;
  }
  body .lorem {
    width: 50%;
    height: 100%;
  }
  body .lorem h1 {
    font-size: 45px;
    overflow: hidden;
  }
  body .lorem p {
    font-size: 27px;
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */